Trending Topic Research Automation.json
{
  "name": "Trending Topic Research Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5f4af2d2-18b4-435a-8fb4-59fa2a5383be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99820857-31e7-4ddd-b22c-8102562fabeb",
              "name": "keywords",
              "value": "[  \"AI Marketing\",  \"SEO\",  \"Content Marketing\",  \"Email Marketing\",  \"Social Media Growth\",  \"Marketing Automation\",  \"E-commerce Marketing\",  \"Performance Advertising\",  \"Brand Strategy\",  \"Influencer Marketing\" ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        48
      ],
      "id": "a910c904-a329-4a57-9cc3-2f626798a755",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"Function\"].json.keyword }}\n"
            },
            {
              "name": "sortBy",
              "value": "popularity"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "Your API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        48
      ],
      "id": "b27af321-fcb3-41be-9a59-f9c8445455b5",
      "name": "News API"
    },
    {
      "parameters": {
        "jsCode": "const keywords = items[0].json.keywords;\nconst randomKeyword = keywords[Math.floor(Math.random() * keywords.length)];\n\nreturn [\n  {\n    json: {\n      keyword: randomKeyword\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        48
      ],
      "id": "46ed5db5-56f4-4399-8bf5-b6521bfafab1",
      "name": "Function"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $node[\"Function\"].json.keyword }}\n"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "viewCount"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "key",
              "value": "Your API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        272
      ],
      "id": "61471c11-b3dd-4809-819e-fee947cc41ae",
      "name": "Youtube API"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"Function\"].json.keyword }}"
            },
            {
              "name": "sort",
              "value": "hot"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (n8n automation bot)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -128
      ],
      "id": "8b89eadc-13a5-4c8a-8c85-6a42c141cf49",
      "name": "Reddit API",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -48
      ],
      "id": "6e779119-b3a5-4392-9327-a451dfd1418a",
      "name": "Merge All Sources"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a senior content strategist working for a digital marketing agency.\n\nAnalyze the following multi-platform trending data collected from YouTube, News articles, and Reddit.\n\nYour task:\n1. Identify common themes, patterns, and audience interest signals.\n2. Generate at least 5 strategic content topic ideas.\n\nFor each content idea, provide:\n- Title\n- 2–3 sentence description\n- Why this topic is relevant right now\n\nKeep the output clear, structured, and concise.\n\nTrending Data:\n{{ JSON.stringify($json) }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1088,
        -48
      ],
      "id": "33a8f14b-e2eb-442d-9a23-2f859f3bd3aa",
      "name": "AI Trend Analysis",
      "credentials": {
        "openAiApi": {
          "id": "iACF9fFxTwJCEw28",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "862c0c4a-3554-4426-a8f0-f3caa85c8b5b",
              "name": "ai_output",
              "value": "1. Title: AI Marketing Automation in 2025 Description: This topic explores how businesses are using AI-powered tools to automate campaign management, personalization, and performance optimization across channels. Why Relevant: AI adoption in marketing is accelerating, and brands are actively seeking scalable automation strategies.  2. Title: SEO Strategies After Google’s Latest Algorithm Updates Description: This content focuses on modern SEO practices that align with Google’s evolving ranking signals, including EEAT and AI-driven search. Why Relevant: Frequent algorithm updates are forcing marketers to rethink long-term SEO planning.  3. Title: Content Marketing Trends Driven by Short-Form Video Description: An analysis of how short-form video platforms are reshaping content strategies and audience engagement models. Why Relevant: Short-form video continues to dominate attention across platforms like YouTube Shorts and Instagram Reels.  4. Title: Email Marketing Personalization Using AI Description: This topic covers AI-based segmentation and personalization techniques that improve open rates and conversions. Why Relevant: Inbox competition is increasing, making personalization a critical success factor.  5. Title: Social Media Growth Through Community-Led Marketing Description: This idea examines how brands are leveraging communities to drive organic social media growth and loyalty. Why Relevant: Audiences increasingly trust peer-driven communities over traditional advertising.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -48
      ],
      "id": "9a11bf46-ce4c-4a5d-83ed-f0a71b34ee42",
      "name": "Mock AI Output"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xHHR8AVGuV-Lo7cDt4PWjb00Ru0HaerCrHcMECuguNM",
          "mode": "list",
          "cachedResultName": "Weekly Trending Content Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xHHR8AVGuV-Lo7cDt4PWjb00Ru0HaerCrHcMECuguNM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xHHR8AVGuV-Lo7cDt4PWjb00Ru0HaerCrHcMECuguNM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}\n",
            "Keyword": "={{ $node[\"Function\"].json.keyword }}\n",
            "Source": "Multi-platform",
            "Title": "Trending Content Ideas",
            "Description": "={{ $json.ai_output }}",
            "Relevance": "Based on cross-platform trend analysis"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance",
              "displayName": "Relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -48
      ],
      "id": "041e9d5d-5037-4792-b009-9cbce6f353c8",
      "name": "Save to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3XYKUe3LCMRuj1Iz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Youtube API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube API": {
      "main": [
        [
          {
            "node": "News API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "News API": {
      "main": [
        [
          {
            "node": "Reddit API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reddit API": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "AI Trend Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trend Analysis": {
      "main": [
        [
          {
            "node": "Mock AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock AI Output": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "06fc0846-bc1d-46c1-bd76-9adbfec76187",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "545d7287b6956a05d18d7f729ab18b8ff1fde780ba27b51748a9ca39569f8f10"
  },
  "id": "1EIF9Bn5b4hlRcDw2Q_Yj",
  "tags": []
}